<header>
  <div class="header-interior">
    <h1><a href="/">AAL Character System</a></h1>
    <nav>
      <ul>
        <% if current_user %>
          <li class="parent"><%= link_to "My Characters", root_path %>
            <ul class="sub-menu">
                <% current_user.characters.each do |character| %>
                  <li><%= link_to character.name, character_path(character) %></li>
                <% end %>
              <li><%= link_to "Create New", new_character_wizard_path %></li>
            </ul>
          </li>
          <% if current_user.is_storyteller or current_user.characters.where({status: 2}).length > 0 %>
            <li><%= link_to "Dramatis Personae", dramatis_path %></li>
          <% end %>
          <% if current_user.is_storyteller %>
            <li class="parent"><%= link_to "Tools", storytellers_path %>
              <ul class="sub-menu">
                <li><%= link_to "Print Sheets", characters_print_path, rel: 'external', target: '_blank' %></li>
                <li><%= link_to "Experience", storytellers_experience_path %></li>
                <li><%= link_to "Downtime Periods", storytellers_downtime_periods_path %></li>
                <li><%= link_to "Downtime Actions", storytellers_downtime_actions_path %></li>
                <li><%= link_to "Advantages", storytellers_advantages_path %></li>
                <li><%= link_to "Challenges", storytellers_challenges_path %></li>
                <li><%= link_to "True Selves", storytellers_true_selves_path %></li>
                <li><%= link_to "Questionnaire", storytellers_questionnaire_sections_path %></li>
                <li><%= link_to "Rituals", storytellers_rituals_path %></li>
                <li><%= link_to "Equipment", storytellers_equipment_index_path %></li>
                <li><%= link_to "Equipment Types", storytellers_equipment_types_path %></li>
                <li><%= link_to "Equipment Qualities", storytellers_equipment_qualities_path %></li>
                <li><%= link_to "Settings", storytellers_settings_path %></li>
              </ul>
            </li>
          <% end %>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
        <% end %>
        <li><a href="http://askagainlater.com/" rel="external" target="_blank">Info Site</a></li>
        <% if current_user %>
          <li><%= form_tag(destroy_user_session_path, method: 'DELETE') do %><button type="submit" class="nav-link">Log Out</button><% end %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Create an Account", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
    <button class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>
