<header>
  <div class="header-interior">
    <h1><a href="/">AAL Character System</a></h1>
    <nav>
      <ul>
        <% if current_user %>
          <li class="parent"><span>My Characters</span>
            <ul class="sub-menu">
                <% current_user.characters.each do |character| %>
                  <li><%= link_to character.name, character_path(character) %></li>
                <% end %>
              <li><%= link_to "Create New", new_character_path %></li>
            </ul>
          </li>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
        <% end %>
        <li><a href="http://askagainlater.com/" rel="external" target="_blank">Info Site</a></li>
        <% if current_user %>
          <li><%= link_to "Log Out", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Create an Account", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
    <button class="hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>
