<!DOCTYPE html>
<html>
<head>
  <title>AAL Character System</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/header' %>
  <div class="main<%= devise_controller? ? ' devise' : '' %>">
    <% if flash.present? %>
      <div class="messages">
        <% flash.each do |type, msg| %>
          <div class="msg <%= type.to_s %>"><%= msg.html_safe %><a href="#" class="close"><i class="fa fa-times"></i></a></div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'footer', 'data-turbolinks-track' => true %>
</body>
</html>
